<div class="row">
    <div class="col">
        <h1 class="header-font" style="font-size: 30px; margin-bottom: 10px">$(full_name)</h1>
        <h2 class="header-font orange" style="font-size: 24px">$(vacancy)</h2>
    </div>
    <div class="col">
        <div class="line"></div>
        <p class="header-font" style="font-size: 16px">$(full_name)</p>
        <p style="font-size: 16px">$(address)</p>
        <p class="orange">$(phone)</p>
        <p class="orange">$(email)</p>
        <p class="orange">$(linked_in)</p>
    </div>
</div>